section {
    background-color: rgb(78, 238, 78);
    height: 400px;
    width: 600px;
    margin: auto;
    margin-top: 150px;
  }
  .triangle1 {
    margin: auto;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 100px solid lightsalmon;
    position: relative;
    top: 40px;
  }
  .triangle2 {
    margin: auto;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 100px solid lightslategray;
  }
  .triangle3 {
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 40px solid rgb(153, 233, 153);
    width: 100px;
    margin: auto;
  }